:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --btn-tab-color: #ffffff26;
    --btn-control-color: #ffffffbf;
    --btn-close-color: #333333ad;
    --modal-body-color: #ababab;
    --select-color: #ddd8d8;
    --header-color: #ffffff42;
 
    --header-height: 80px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* line-height: 1.6rem; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../../img/bg01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); 
    z-index: -1;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-widt {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-8 {
    padding-left: 5px;
    padding-right: 5px;
    width: 66.6667%;
}

.grid__column-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}

/* button */
.btn-tab {
    background-color: var(--btn-tab-color);
    border: 1px solid var(--white-color);
    cursor: pointer;
}

.btn-control {
    background-color: var(--btn-control-color);
    color: var(--text-color);
    cursor: pointer;
}

.btn-tab:hover,
.btn-control:hover {
    opacity: 0.8;
}

.sub-background {
    background-color: var(--btn-tab-color);
    border-left: 1px solid var(--btn-control-color);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0;
    --growth-to: 1;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
    background-color: var(--modal-body-color);
    height: 180px;
    width: 250px;
    border-radius: 4px;
}
