.header {
    height: var(--header-height);
    color: var(--white-color);
    /* border-bottom: 1px solid var(--btn-control-color); */
    background-color: var(--header-color);
}

.sub-header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.name-page {
    font-size: 3.8rem;
    font-weight: 400;
}

.navbar {
}

.navbar-list {
    list-style: none;
    display: flex;
}

.navbar-item {
    font-size: 1.4rem;
    padding: 0 12px;
    display: inline-block;
    position: relative;
}

.navbar-item:hover {
    color: var(--btn-control-color);
    cursor: pointer;
}

.use-content {
    background-color: var(--btn-control-color);
    height: 180px;
    width: 300px;
    border-radius: 4px;
    position: absolute;
    top: 9%;
    right: 12%;
    padding: 18px 0;
    display: none;
}

.use-content__desc {
    margin: 0;
}

.use-content__list {
    color: var(--text-color);
    line-height: 1.8rem;
    font-size: 1.1rem;
}

.use-content__item {
    margin: 0 20px 0 0;
}

.contact-content {
    background-color: var(--btn-control-color);
    height: 80px;
    width: 180px;
    border-radius: 4px;
    position: absolute;
    top: 9%;
    right: 6%;
    text-align: center;
    padding: 8px 0;
    display: none;
}

.use-content__desc,
.contact-content__desc {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6rem;
    margin: 4px;
}

.use-content__desc {
    padding: 0 18px;
}

.contact-content__link {
    margin: 0;
    color: var(--text-color);
}

.contact-content__link:hover {
    opacity: 0.8;
}

.app__contaniner {
 
}

.pomo-content {
    padding-top: 80px;
    text-align: center;
    height: calc(100vh - var(--header-height));
}

.pomo-list {
    list-style: none;
    padding: 0;
}

.pomo-item {
    display: inline-block;
    margin: 0 4px;
    font-size: 1.6rem;
    color: var(--white-color);
    width: 126px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border-radius: 18px;
}

.pomo-time {
    font-size: 8.0rem;
    color: var(--white-color);
    padding: 24px 0 26px 0;
}

.pomo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pomo-item--active {
    background-color: var(--btn-control-color);
    color: var(--text-color);
    font-weight: 500;
}

.pomo-btn-start {
    font-size: 2.2rem;
    height: 50px;
    width: 126px;
    font-weight: 500;
    border-radius: 8px;
}

.pomo-btn-replay {
    font-size: 2.8rem;
    color: var(--white-color);
    padding-left: 14px;
    cursor: pointer;
}

.pomo-btn-replay:hover {
    opacity: 0.7;
}

.pomo-note {
    padding-top: 80px;
    text-align: center;
    height: calc(100vh - var(--header-height));
    color: var(--white-color);
    font-size: 1.4rem;
    background-color: var(--btn-tab-color);
    border-left: 1px solid var(--btn-control-color);
}

.menu-form {
    position: relative;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
}

.menu-form__close-btn {
    background-color: var(--btn-close-color);
    height: 18px;
    width: 24px;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
    line-height: 18px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid var(--text-color);
}

.menu-form__close-icon {
    color: var(--white-color);
}

.menu-form__content {
    position: absolute;
    margin: 19px 0 30px 16px;
    border-top: 1px solid var(--text-color);
    padding-top: 8px;
}

.menu-form__label {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 18px 0;
}

.menu-form__select {
    margin: 14px 0 0 0;
    height: 20px;
    width: 80px;
    font-size: 1.0rem;
    background-color: var(--select-color);
    border: 1px solid var(--text-color);
}

.menu-form__input {
    height: 20px;
    width: 40px;
    margin: 12px 6px 0 0;
    font-size: 1.0rem;
    background-color: var(--select-color);
    border: 1px solid var(--text-color);
    border-radius: 2px;
}

.menu-form__save-btn {
    background-color: var(--btn-close-color);
    font-size: 1.3rem;
    color: var(--white-color);
    text-align: center;
    line-height: 26px;
    height: 26px;
    width: 56px;
    border-radius: 2px;
    position: absolute;
    right: 3%;
    bottom: -20%;
}

.menu-form__close-btn:hover,
.menu-form__save-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}